RewriteEngine on

RewriteBase /
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

RewriteCond $1 !^(index\.php|assets|uploads|robots\.txt)	
RewriteRule ^(.*)$ index.php/$1 [L]


php_value post_max_size 100M
php_value upload_max_filesize 100M
php_value max_execution_time 7200

## EXPIRES HEADER CACHING ##
<IfModule mod_expires.c>
    ExpiresActive On
   # ExpiresDefault "access plus 1 day"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
</IfModule>

Header always append X-Frame-Options SAMEORIGIN
